body,html {
	padding: 0;
	margin: auto auto;
	width: 800px;
	height: 1182px;
	background-color: #ececec;
	position: relative;
	overflow: hidden;
	font-family: Arial;
}

body {
	border: 1px solid grey;
}

button {
	border: none;
	background-color: #ececec;
}

header {
	background-color: black;
	height: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.notifications {
	margin-left: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status span {
	color:white;
	font-size: 20px;
}

.status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.notifications img, .status img {
	height: 24px;
	margin:0 5px;
	filter: invert(100%);
}

.top {
	height: 76px;
	background-color: #13b2ed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}

.top_column_right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #13b2ed;
}

.top_logo {
	margin-left: 38px;
}

.top_column_right button {
	padding: 0;
	margin:0;
	cursor: pointer;
}

.top_back {
	background-image: url(img/back.png);
	background-repeat: no-repeat;
	height: 74px;
	width: 55px;
}

.top_forward {
	background-image: url(img/forward.png);
	background-repeat: no-repeat;
	height: 74px;
	width: 56px;
}

.data {
	position: relative;
}

.data_pos {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 16px;
}

.data_pos_data {
	font-weight: bold;
	font-size: 18px;
}

.data_status, .data_counters,.data_matrix,.data_backwall,.data_photoApprove,.data_tposm,.data_tposm,.data_activaton {
	width: 100%;
}

.data_status span, .data_counters span,.data_matrix span,.data_backwall span,
.data_photoApprove span,.data_tposm span,.data_tposm span,.data_activation span,.data_comment span {
	display: inline-block;
	text-align: right;
	width: 350px;
	font-size: 20px;
	margin-bottom: 14px;
	margin-right: 10px;
}

.data_status_data {
	background-color: #ececec;
	border: none;
	border-bottom: 1px solid .d5d4d4;
	appearance: none;
}

.data_counters_data {
	background-color: #ececec;
	border:none;
	border-bottom: 1px solid .d5d4d4;
}

.data_backwall_data {
	background-color: #ececec;
	border: none;
	border-bottom: 1px solid .d5d4d4;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

input[type="text"]:focus {
	outline: none;
}

.data_comment_data {
	background-color: #ececec;
	border:none;
	border-bottom: 1px solid .d5d4d4;
}

.data_photo_description {
	margin-left: 16px;
	font-size: 18px;
}

.data_photo_in,.data_photo_out,.data_photo_order,.data_photo_audit,.data_photo_device,.data_photo_error {
	margin-left: 16px;
	margin-bottom: 30px;
}

.data_photo_in span, .data_photo_out span,.data_photo_order span,.data_photo_audit span,
.data_photo_device span,.data_photo_error span {
	display: inline-block;
	text-align: right;
	width: 350px;
	font-size: 20px;
	margin-right: 10px;
}

.data_photo_in {
	margin-top: 60px;
}

.data_audit {
	width: 95%;
	height: 190px;
	border: 2px solid black;
	margin-left: 16px;
	padding: 10px 0 0 10px;
	box-sizing: border-box;
}

.data_audit_description {
	font-size: 18px;
}

.data_tposm_container_outline {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	background-color: rgba(45,45,45,0.9);
	z-index: 9;
}

.data_tposm_container {
	width: 600px;
	height: 700px;
	display: none;
	background-color: white;
	top:100px;
	left: 100px;
	position: absolute;
	z-index: 10;
	padding: 20px;
	box-sizing: border-box;
}

.data_tposm_container_items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.data_tposm_container_item {
	width: 150px;
	height: 190px;
	display: flex;
	justify-content: center;
	/*flex-direction: column;*/
	align-items: center;
	flex-wrap: wrap;
}

.data_tposm_container_item_other {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.data_tposm_container_item img {
	width: 150px;
	height: 150px;
}

.data_tposm_container_item span {
	max-width: 130px;
	height: 20px;
}

.data_tposm_container_item input {
	width: 30px;
}

.data_tposm_container_buttons {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 650px;
	margin: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.data_tposm_container_button {
	width: 150px;
	height: 30px;
}

.bottom {
	width: 100%;
	height: 65px;
	background-color: #a0a0a0;
	margin-top: 40px;
}

.bottom_nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 65px;
}

button[class^="bottom_nav_item"] {
	background-color: #a0a0a0;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
}

.header_fake {
	min-width: 300px;
}
.bottom_nav_item_al {
	display: none;
}

.service {
	position: relative;
}

.service_menu_title {
	background-color: #ececec;
	padding: 4px 10px;
	cursor: pointer;
	margin-left: 5px;
	box-sizing: content-box;
	border-radius: 3px;
}

.service_menu_title:hover {
	background-color: #d5d5d5;
}

.service_nav {
	display: none;
	position: absolute;
	padding: 3px 0 3px 0;
	margin:0;
	list-style: none;
	top: 25px;
	min-width: 380px;
	background-color: black;
	min-height: 26px;
	box-sizing: content-box;
}

.service_nav li {
	display: inline-block;
	padding: 4px 10px;
	background-color: #ececec;
	border: 1px solid black;
	margin-left: 5px;
	height: 20px;
	cursor: pointer;
	border-radius: 4px;
}

.changes {
	outline: 2px solid red;
}