body,html {
	padding: 0;
	margin: auto auto;
	width: 800px;
	height: 1182px;
	background-color: #ececec;
	position: relative;
	overflow: hidden;
	font-family: Arial;
}

body {
	border: 1px solid grey;
}

button {
	border: none;
	background-color: #ececec;
}

header {
	background-color: black;
	height: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Служебные классы */

.rotate {
	transform: rotate(180deg);
	transition-duration: 200ms;
}

.changes {
	outline: 2px solid red;
}

/* Сервисная строка */

.notifications {                          
	margin-left: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status span {                           
	color:white;
	font-size: 20px;
}

.status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.notifications img, .status img {
	height: 24px;
	margin:0 5px;
	filter: invert(100%);
}

.header_fake {
	min-width: 300px;
}

.service {
	position: relative;
}

.service_menu_title {
	background-color: #ececec;
	padding: 4px 10px;
	cursor: pointer;
	margin-left: 5px;
	box-sizing: content-box;
	border-radius: 3px;
}

.service_menu_title:hover {
	background-color: #d5d5d5;
}

.service_nav {
	display: none;
	position: absolute;
	padding: 3px 0 3px 0;
	margin:0;
	list-style: none;
	top: 25px;
	min-width: 380px;
	background-color: black;
	min-height: 26px;
	box-sizing: content-box;
}

.service_nav li {
	display: inline-block;
	padding: 4px 10px;
	background-color: #ececec;
	border: 1px solid black;
	margin-left: 5px;
	height: 20px;
	cursor: pointer;
	border-radius: 4px;
}

/* Заголовок */

.top {
	height: 76px;
	background-color: #13b2ed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}

.top_column_right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #13b2ed;
}

.top_logo {
	margin-left: 38px;
}

.top_logo_title {
	color: white;
	font-size: 30px;
	margin-left: 20px;
}

.top_column_left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.top_column_right button {
	padding: 0;
	margin:0;
	cursor: pointer;
}

.top_back {
	background-image: url(img/back.png);
	background-repeat: no-repeat;
	height: 74px;
	width: 55px;
}

.top_forward {
	background-image: url(img/forward.png);
	background-repeat: no-repeat;
	height: 74px;
	width: 56px;
}

/* Заголовки разделов */

.second_data_locator_title, .second_data_offtake_title, 
.second_data_las_title, .second_data_member_title, .second_data_dte_title,.second_data_member_header_description {
	font-style: italic;
}

.second_data_locator_title, .second_data_offtake_title, 
.second_data_las_title, .second_data_dte_title,.second_data_member_header_description {
	font-size: 24px;
}

.second_data_locator_title, .second_data_offtake_title {
	min-width: 100%;
}

.second_data_locator_title {
	display: block;
}

.second_data_member_title {
	font-size: 30px;
	margin-left: 20px;
}

/* Вкладка "Общее" */

.data {
	position: relative;
}

.data_pos {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 16px;
}

.data_pos_data {
	font-weight: bold;
	font-size: 18px;
}

.data_status, .data_counters,.data_matrix,.data_backwall,.data_photoApprove,.data_tposm,.data_tposm,.data_activaton {
	width: 100%;
}

.data_status span, .data_counters span,.data_matrix span,.data_backwall span,
.data_photoApprove span,.data_tposm span,.data_tposm span,.data_activation span,.data_comment span {
	display: inline-block;
	text-align: right;
	width: 350px;
	font-size: 20px;
	margin-bottom: 14px;
	margin-right: 10px;
}

.data_status_data {
	background-color: #ececec;
	border: none;
	border-bottom: 1px solid .d5d4d4;
	appearance: none;
}

.data_counters_data {
	background-color: #ececec;
	border:none;
	border-bottom: 1px solid .d5d4d4;
}

.data_backwall_data {
	background-color: #ececec;
	border: none;
	border-bottom: 1px solid .d5d4d4;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

input[type="text"]:focus {
	outline: none;
}

.data_comment_data {
	background-color: #ececec;
	border:none;
	border-bottom: 2px solid #d5d4d4;
}

.data_photo_description {
	margin-left: 16px;
	font-size: 18px;
}

.data_photo_in,.data_photo_out,.data_photo_order,.data_photo_audit,.data_photo_device,.data_photo_error {
	margin-left: 16px;
	margin-bottom: 30px;
}

.data_photo_in span, .data_photo_out span,.data_photo_order span,.data_photo_audit span,
.data_photo_device span,.data_photo_error span {
	display: inline-block;
	text-align: right;
	width: 350px;
	font-size: 20px;
	margin-right: 10px;
}

.data_photo_in {
	margin-top: 60px;
}

.data_audit {
	width: 95%;
	height: 190px;
	border: 2px solid black;
	margin-left: 16px;
	padding: 10px 0 0 10px;
	box-sizing: border-box;
}

.data_audit_description {
	font-size: 18px;
}

.data_tposm_container_outline {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	background-color: rgba(45,45,45,0.9);
	z-index: 9;
}

.data_tposm_container {
	width: 600px;
	height: 700px;
	display: none;
	background-color: white;
	top:100px;
	left: 100px;
	position: absolute;
	z-index: 10;
	padding: 20px;
	box-sizing: border-box;
}

.data_tposm_container_items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.data_tposm_container_item {
	width: 150px;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.data_tposm_container_item_other {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.data_tposm_container_item img {
	width: 150px;
	height: 150px;
}

.data_tposm_container_item span {
	max-width: 130px;
	height: 20px;
}

.data_tposm_container_item input {
	width: 30px;
}

.data_tposm_container_buttons {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 650px;
	margin: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.data_tposm_container_button {
	width: 150px;
	height: 30px;
}

/* Навигационное меню */

.bottom {
	width: 100%;
	height: 65px;
	background-color: #a0a0a0;
	margin-top: 40px;
	position: absolute;
	bottom: 0px;
}

.bottom_nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 65px;
}

button[class^="bottom_nav_item"] {
	background-color: #a0a0a0;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
}

.bottom_nav_item_al {
	display: none;
}

/* Вкладка "Activation leader" */

.second {
	display: none;
}

.second_data_pos {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;	
}

.second_data_pos_description {
	font-size: 16px;
	font-weight: bold;
}

.second_data_pos_data {
	font-size: 16px;
}

.second_data_member,.second_data_member_new {
	width: 768px;
	margin: 10px auto 0;
}

.second_data_other {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
}

.second_data_dte_comment {
	width: 100%;
}

.second_data_dte_comment_description {
	margin-right: 20px;
}

.second_data_dte_comment input {
	width: 200px;
}

.second_data_dte_data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	flex-wrap: wrap;
}

.second_data_las {
	margin-top: 10px;
}

.second_data_las_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 80px;
	margin-top: 10px;
}

.second_data_las_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.second_data_las_header {
	width: 100%;
}

div[class^="second_data_dte_item"] {
	min-width: 28%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second_data_member_header {
	border: 2px solid black;
	height: 55px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.second_data_las_header_item:first-of-type {
	margin-left: 20px;
}

.second_data_las_header_item:nth-of-type(2) {
	margin-left: 105px;
}

.second_data_las_header_item:nth-of-type(3) {
	margin-left: 75px;
}

.second_data_las_header_item:nth-of-type(4) {
	margin-left: 70px;
}

.second_data_las_header_item:last-of-type {
	margin-left: 100px;
}

.second_data_offtake {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 80px;
}

.second_data_offtake_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.second_data_offtake_SR_span,.second_data_offtake_FP_span{
	margin-right: 20px;
}

.second_data_member_header_description {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	margin-left: 10px;
}

.second_data_member_header_data {
	font-size: 18px;
	font-style: italic;
}

.second_data_member_header_vision {
	background-color: transparent;
	border: none;
	width: 32px;
	height: 32px;
	background-image: url(img/triangle.png);
	background-repeat: no-repeat;
	margin-right: 20px;
}

.second_data_member_header_delete {
	background-color: transparent;
	border: none;
	width: 32px;
	height: 32px;
	background-image: url(img/cross.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}

.second_data_member_table {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	width: 100%;
	border-left:2px solid black;
	border-bottom:2px solid black;
	border-right:2px solid black;
}

.second_data_member_table_header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	width: 100%;	
}

.second_data_member_table_title {
	text-align: center;
	padding: 7px 0;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	min-width: 250px;
	height: 30px;
	box-sizing: border-box;
}

.second_data_member_table_title:last-of-type {
	border-right:none;
	border-left: none;
}

.second_data_member_table_row {
	height: 45px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.second_data_member_table_row div {
	height: 45px;
}

.second_data_member_table_row_description {
	text-align: left;
	font-size: 15px;
	margin-left: 5px;
	padding: 10px 10px;
	max-height: 45px;
	box-sizing: border-box;
	border-right: 1px solid black;
}

div[class*="check"],div[class*="coach"] {
	min-width: 250px;
	display: inline-block;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.second_data_member_header_data_new {
	background-color: #f0f0f0;
	border: none;
	width: 400px;
	height: 24px;
	border-bottom: 1px solid black;
}

.second_data_member_header_add {
	background-image: url(img/plus.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	margin:0;
	margin-right: 20px;
}

div.second_data_member_header_description.new {
	font-weight: normal;
}

.second_data_locator {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	min-height: 70px;
}

#locator_check {
	margin-left: 30px;
	height: 20px;
	width: 20px;
}

/* Вкладка матрица */

.third {
	display: none;
}

.third_pos {
	background-color:grey;
	margin:0;
	height: 40px;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
}

.data_third_matrix {
	table-layout: fixed;
	border-collapse: collapse;
	max-width: 80%;
	margin-top: 10px;
	margin-left: 20px;
}

.data_third_matrix th:first-of-type {
	min-width: 100px;
}

.data_third_matrix th:last-of-type {
	max-width: 10%;
}

.data_third_matrix td {
	height: 30px;
	border: 1px solid black;
	box-sizing: border-box;
}

.data_third_matrix td:nth-of-type(2n) {
	text-align: center;
}

.firth {
	display: none;
}

.five {
	display: none;
}
